*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     overflow-y: hidden;
}
#nav{
     position: fixed;
     display: flex;
     z-index: 2;
     width: 100%;
     height: 50px;
     border-bottom: 1px solid rgb(42, 42, 224);
     background-color: transparent;
     align-items: center;
     justify-content: center;
}
body{
     
     background-image: url('images/finaly.png');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center; 
}